---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


// Our variables
$base-font-family: "Source Code", monospace;
$text-font-family: "Source Serif Pro", Georgia, serif;

$base-font-size:   20px;
$small-font-size:  16px;
$large-font-size:  24px;
$base-line-height: 1.6;

$padding:          30px;

$text-color:       #040404;
$accent-color:     #676767;
$hilight-color:    #1f9f76;
$background-color: lighten($hilight-color, 50);

$screen-s:        720px;
$screen-m:        960px;
$screen-l:        1140px;


// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $padding / 2;
//         padding-left: $padding / 2;
//     }
// }
@mixin media-query($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "fonts",
  "base",
  "layout",
  "project-list",
  "syntax-highlighting",
  "_components/sidebar",
  "_components/footer"
;
