$base-path: '/assets/fonts/';

@mixin webfont-src($font-family, $file-name) {
  src: url('#{$base-path}#{$font-family}/EOT/#{$file-name}.eot') format('embedded-opentype'),
       url('#{$base-path}#{$font-family}/WOFF/OTF/#{$file-name}.otf.woff') format('woff'),
       url('#{$base-path}#{$font-family}/OTF/#{$file-name}.otf') format('opentype'),
       url('#{$base-path}#{$font-family}/TTF/#{$file-name}.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  @include webfont-src(source-serif-pro, SourceSerifPro-Light);
}

@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: bold;
  font-stretch: normal;
  @include webfont-src(source-serif-pro, SourceSerifPro-Regular);
}

@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  @include webfont-src(source-code-pro, SourceCodePro-Medium);
}
