html {
  background: $hilight-color;
}

body {
  border-top: 5px solid $hilight-color;
  background: white;
}

.container {
  max-width: $screen-l;
  overflow: hidden;

  @include media-query($screen-s) {
    margin: $padding*2 auto;
  }
}

.main {
  padding: $padding;
  margin-top: 0;
  font-family: $text-font-family;

  a {
    font-weight: bold;
  }

  @include media-query($screen-s) {
    display: block;
    width: 60%;
    float: left;
  }

  @include media-query($screen-m) {
    width: 66%;
  }

  @include media-query($screen-l) {
    width: 50%;

    &.main--featured {
      font-size: $large-font-size;
    }
  }
}

.sidebar {
  padding: $padding;
  margin: 0;
  display: block;
  float: left;
  font-size: $base-font-size;

  @include media-query($screen-s) {
    width: 40%;
    font-size: $small-font-size;
  }

  @include media-query($screen-m) {
    width: 33%;
  }

  @include media-query($screen-l) {
    width: 50%;
    padding-left: 220px;
  }
}

.navigation {
  margin-bottom: $padding*2;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    margin: .4em 0;
    padding: 0;
  }
}

.footer {
  position: relative;
  display: block;
  clear: both;
  overflow: hidden;
  width: 100%;
  background: $background-color;
  font-size: $small-font-size;

  &:before {
    @include media-query($screen-s) {
      content: "";
      position: absolute;
      display: block;
      background-color: darken($hilight-color, 10);
      background-image: url('/assets/images/portrait.jpg');
      background-position: right center;
      background-size: cover;
      top: 0;
      bottom: 0;
      width: 60%;
    }

    @include media-query($screen-m) {
      width: 66%;
    }

    @include media-query($screen-l) {
      width: 50%;
    }
  }

  .footer__container {
    padding: $padding;

    @include media-query($screen-s) {
      width: 40%;
      margin-left: 60%;
      min-height: 420px;
    }

    @include media-query($screen-m) {
      width: 33%;
      margin-left: 66%;
    }

    @include media-query($screen-l) {
      width: 50%;
      margin-left: 50%;
      padding-left: 220px;
      padding-top: $padding*3;
      min-height: 560px;
    }
  }
}

.pgp-fingerprint {
  white-space: pre-line;

  @include media-query($screen-s) {
    white-space: normal;
  }

  @include media-query($screen-l) {
    white-space: pre-line;
  }
}
