html {
  background: $hilight-color;
}

body {
  border-top: 3px solid $hilight-color;
  background: white;
}

.container {
  position: relative;
  max-width: $screen-l;
  margin: 0 auto;
}

.main {
  padding: 0 $padding;
  font-family: $text-font-family;

  a {
    font-weight: bold;
  }

  @include media-query($screen-s) {
    display: block;
    float: left;
    width: 60%;
    padding: $padding;
  }

  @include media-query($screen-l) {
    &.main--featured {
      font-size: $large-font-size;
    }
  }
}

.main--listing {
  @include media-query($screen-l) {
    width: 66%;
  }

  dl {
    overflow: hidden;
    padding-top: $padding/2;
  }

  dt {
    display: block;
    font-size: $base-font-size;
    padding-top: $padding;
    border-top: 1px solid black;

    @include media-query($screen-l) {
      width: 25%;
      padding-top: $padding/2;
      float: left;
      clear: both;
    }
  }

  dd {
    display: block;
    padding-bottom: $padding/2;

    @include media-query($screen-l) {
      width: 70%;
      float: right;
      margin-left: 5%;
      padding: $padding/2 0;
      border-top: 1px solid black;
    }
  }

  h3 {
    margin: 0;
    padding: 0;
    font-size: $base-font-size;
    font-weight: bold;
  }

  p {
    margin: 0;
  }

  ul {
    padding: $padding/2 0 0 0;

    @include media-query($screen-l) {
      margin: 0;
    }
  }
}
