/**
 * apply a natural box layout model to all elements, but allowing components to change
 * http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/**
 * Reset some basic elements
 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
  margin: 0;
  padding: 0;
}

/**
 * Basic styling
 */
body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $text-color;
  -webkit-text-size-adjust: 100%;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure,
%vertical-rhythm {
  margin-bottom: $padding / 2;
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}

/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}

/**
 * Lists
 */
ul,
ol {
  margin: 0 0 $padding $padding;
  padding: 0;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

/**
 * Headings
 */
h1 {
  color: $hilight-color;
  margin: 0;
  font-size: $large-font-size;
  font-weight: bold;
}

h2 {
  margin: $padding 0 0 0;
  font-size: $large-font-size;
  font-weight: bold;
}

h3,
h4,
h5,
h6 {
  margin: 2em 0 0 0;
  padding: 0;
  font-size: $small-font-size;
  line-height: $base-line-height;
  font-weight: normal;
}

/**
 * Paragraphs
 */
p {
  margin: 0 0 1.2em 0;
}

/**
 * Links
 */
a {
  color: $hilight-color;
  font-weight: normal;
  text-decoration: none;
  padding: 0.02em 0;

  &:hover,
  &:active,
  &:focus {
    color: darken($hilight-color, 10%);
    border-bottom: 2px solid darken($hilight-color, 10%);
  }
}

/**
 * Blockquotes
 */
blockquote {
  border-left: 4px solid $hilight-color;
  padding-left: $padding / 2;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}

/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border-radius: 3px;
  background-color: #eef;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: scroll;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

/**
 * Clearfix
 */
%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
