$base-path: '/assets/';

@mixin webfont-src($font-family, $file-name) {
  src: url('#{$base-path}#{$font-family}/woff/#{$file-name}.woff') format('woff2'),
       url('#{$base-path}#{$font-family}/woff/#{$file-name}.woff2') format('woff');
}

@font-face {
  font-family: 'fira-sans';
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  @include webfont-src(fira, FiraSans-Light);
}

@font-face {
  font-family: 'fira-sans';
  font-style: normal;
  font-weight: bold;
  font-stretch: normal;
  @include webfont-src(fira, FiraSans-Medium);
}

@font-face {
  font-family: 'fira-mono';
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  @include webfont-src(fira, FiraMono-Regular);
}

@font-face {
  font-family: 'fira-sans';
  font-style: normal;
  font-style: italic;
  font-stretch: normal;
  @include webfont-src(fira, FiraSans-Medium);
}
