.projects__listing {
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;

  > li {
    display: block;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #dadada;
  }

  > li:nth-child(odd) {
    background: #f5f5f5;
  }
}

.projects__item {
  @extend .container;
  padding: 0 $padding;
  overflow: hidden;

  @include media-query($screen-m) {
    padding-top: 3 * $padding;
  }
}

.projects__title {
  margin: 0;
  padding: 0 0 10px 0;
  color: $text-color;
  font-family: $text-font-family;
  font-weight: bold;
}

.projects__more {
  background: $background-color;
  padding: $padding;
  text-align: center;

  a {
    display: inline-block;
    padding: $padding/3 $padding;
    background: $hilight-color;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }

  a:hover,
  a:focus,
  a:active {
    background: darken($hilight-color, 10);
    border: none;
  }
}

.projects__screenshot {
  margin: 0;
  padding: 0;

  > img {
    padding-top: 25px;
    border: 1px solid #adadad;
    border-bottom: 0;
    border-radius: 5px 5px 0 0;
    box-shadow: 0px 10px 35px -5px rgba(0, 0, 0, 0.75);
    background-color: #dadada;
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: 7px 7px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 53 15"><circle fill="#9B9B9B" stroke="#878787" stroke-miterlimit="10" cx="7.5" cy="7.4" r="6.6"/><circle fill="#9B9B9B" stroke="#878787" stroke-miterlimit="10" cx="26.3" cy="7.4" r="6.6"/><circle fill="#9B9B9B" stroke="#878787" stroke-miterlimit="10" cx="45.2" cy="7.4" r="6.6"/></svg>');

    @include media-query($screen-m) {
      display: block;
      width: 60%;
      float: left;

      li:nth-child(odd) & {
        float: right;
      }
    }
  }

  > figcaption {
    color: $accent-color;
    margin: 20px 0;

    > p {
      margin-bottom: 15px;
      font-family: $text-font-family;
    }

    @include media-query($screen-m) {
      display: block;
      width: 40%;
      float: right;
      padding-left: 30px;

      li:nth-child(odd) & {
        float: left;
        padding-left: 0;
        padding-right: 30px;
      }
    }
  }
}

.projects__link {
  color: $hilight-color;
  font-weight: normal;

  &:before {
    content: "→";
    padding-right: 0.6em;
  }

  &:hover,
  &:focus,
  &:active {
    color: darken($hilight-color, 10);
    border-bottom: 2px solid darken($hilight-color, 10);
  }
}
