@charset "utf-8";

/* --- Settings: --- */

$base-font-family: "fira-mono", monospace;
$text-font-family: "fira-sans", Helvetica, sans-serif;

$base-font-size: 20px;
$small-font-size: 16px;
$large-font-size: 24px;
$base-line-height: 1.6;

$padding: 30px;

$text-color: #040404;
$accent-color: #676767;
$hilight-color: #1f9f76;
$background-color: lighten($hilight-color, 50);

$screen-s: 720px;
$screen-m: 960px;
$screen-l: 1140px;
$screen-xl: 1920px;

/* --- Simple, mobile-first media queries: ---

Usage:

@include media-query($screen-m) {
    .wrapper {
        padding-right: $padding / 2;
        padding-left: $padding / 2;
    }
}
*/

@mixin media-query($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}

/* --- Import partials/components: --- */

@import "fonts";
@import "base";
@import "layout";
@import "project-list";
@import "syntax-highlighting";
@import "_components/navigation";
@import "_components/sidebar";
@import "_components/footer";
