.footer {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  background: $background-color;
  font-size: $small-font-size;
}

.footer--portrait {
  &:before {
    @include media-query($screen-s) {
      content: "";
      position: absolute;
      display: block;
      background-color: darken($hilight-color, 10);
      background-image: url('/assets/images/portrait.jpg');
      background-position: right center;
      background-size: cover;
      top: 0;
      bottom: 0;
      width: 60%;
    }
  }

  .footer__container {
    padding: $padding;

    @include media-query($screen-s) {
      width: 40%;
      margin-left: 60%;
      min-height: 420px;
    }

    @include media-query($screen-m) {
      padding-left: 2 * $padding;
    }

    @include media-query($screen-l) {
      width: 33%;
      margin-left: 66%;
    }
  }
}

.footer__container {
  max-width: $screen-l;
  overflow: hidden;
  padding: $padding;

  @include media-query($screen-s) {
    margin: 0 auto;
  }
}

.footer__navigation {
  margin-top: 3em;

  a {
    display: inline-block;
  }
}

.pgp-fingerprint {
  white-space: pre-line;

  @include media-query($screen-s) {
    white-space: normal;
  }

  @include media-query($screen-m) {
    white-space: pre-line;
  }
}
