.footer {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  background: $background-color;
  font-size: $small-font-size;
}

.footer--portrait {
  min-height: 40vh;

  &:before {
    @include media-query($screen-s) {
      content: "";
      position: absolute;
      display: block;
      background-color: darken($hilight-color, 10);
      background-image: url('/assets/portrait.jpg');
      background-position: right center;
      background-size: cover;
      top: 0;
      bottom: 0;
      width: 58%;
    }

    @include media-query($screen-xl) {
      width: 53%;
    }
  }
}

.footer__contact {
  padding: 50px 0;


}

.footer__navigation {
  padding: 3em 30px;

  .footer--portrait & {
    padding: 3em 0 0 0;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    display: inline-block;
    margin: 0;
    padding: 0 1.2em 0 0;
  }
}

.pgp-fingerprint {
  white-space: pre-line;

  @include media-query($screen-s) {
    white-space: normal;
  }

  @include media-query($screen-m) {
    white-space: pre-line;
  }
}
