.navigation {
  position: relative;
  padding: $padding;

  @include media-query($screen-s) {
    top: $padding/1.5;
  }

  @include media-query($screen-l) {
    padding: $padding*2 $padding;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
  }

  li {
    display: inline-block;
    margin: 0;
    font-size: $small-font-size;
    padding: 0.1em 0;
    cursor: default;

    &:before {
      content: '/';
      font-size: .75em;
      color: $accent-color;
    }
  }
}

.navigation--home .navigation__link--home,
.navigation--projects .navigation__link--projects,
.navigation--speaking .navigation__link--speaking {
  color: $text-color;

  &:hover {
    border-color: $text-color;
  }
}

.navigation__title {
  position: relative;
  display: inline-block;
  padding: 0;
  margin: 0;
  font-size: $small-font-size;

  &:before {
    content: '→';
    padding-right: .3em;
    color: $hilight-color;

    @include media-query($screen-l) {
      position: absolute;
      left: -1.2em;
    }
  }
}

.navigation__initials {
  display: inline;

  @include media-query($screen-s) {
    display: none;
  }
}

.navigation__full-name {
  display: none;

  @include media-query($screen-s) {
    display: inline;
  }
}
