.sidebar {
  padding: .5em $padding;
  margin: 0;
  display: block;
  font-size: $small-font-size;

  @include media-query($screen-s) {
    float: right;
    width: 38%;
  }

  @include media-query($screen-m) {
    padding-left: 2 * $padding;
  }

  @include media-query($screen-l) {
    width: 33%;
  }
}

.sidebar__navigation {
  margin-bottom: $padding * 2;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    position: relative;
    display: block;
    margin: 0;
    padding: 0.45em 0 0 0;
  }

  a {
    display: inline;
    padding-left: 25px;
    background-repeat: no-repeat;
  }

  svg {
    fill: $hilight-color;
    width: 18px;
    height: 18px;
    position: absolute;
    left: 0;
    top: 9px;
  }

  &:not(.sidebar__navigation--with-icons) a:before {
    content: "→";
    position: absolute;
    left: 2px;
    top: 6px;
    color: $hilight-color;
    display: block;
    width: 20px;
    height: 20px;
  }
}


.sidebar__meta {
  margin: 25px 0 15px 0;
  color: $accent-color;

  time:after {
    content: "/";
    font-size: 0.9em;
    padding-left: 0.5em;
  }
}
