.sidebar {
  padding: 0 $padding;
  margin: 0;
  display: block;
  font-size: $small-font-size;

  @include media-query($screen-s) {
    float: right;
    width: 38%;
  }

  @include media-query($screen-m) {
    padding-left: 2 * $padding;
  }

  @include media-query($screen-l) {
    width: 33%;
  }
}

.sidebar__navigation {
  margin-bottom: $padding * 2;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    position: relative;
    display: block;
    margin: 0;
    padding: 0.45em 0 0 0;
  }

  a {
    margin-left: 1.2em;
  }

  a:before {
    content: "→";
    position: absolute;
    left: 0;
    color: $hilight-color;
  }
}

.sidebar__meta {
  margin: 25px 0 15px 0;
  color: $accent-color;

  time:after {
    content: "/";
    font-size: 0.9em;
    padding-left: 0.5em;
  }
}
