---
layout: base
---

<div class="container">

  {% include navigation.html %}

  <main class="main">
    <h2 class="main__title">{{ page.title }}</h2>
    {{ content }}
  </main>

  <aside class="sidebar">

    <div class="sidebar__meta">
      <time>{{ page.year }}</time> {{ page.client }}
    </div>

    <div class="sidebar__navigation">
      <ul>
        {% for link in page.links %}
          <li>
            <a href="{{ link.url }}">{{ link.name }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>

  </aside>

</div>

<ul class="project-list">
{% for figure in page.figures %}
  <li>
    <article class="project-list__item">
      <a href="{{ figure.url }}">

        <figure class="project__screenshot">
          <figcaption>
            <p>{{ figure.text }}</p>
            <span class="project__link">Visit website</span>
          </figcaption>
          <img src="{{ figure.image }}" alt="{{ figure.alt }}" />
        </figure>
      </a>
    </article>
  </li>
{% endfor %}
</ul>

{% include footer.html %}
