---
layout: base
---

<div class="container">
  <main class="main">
    {{ content }}
  </main>
</div>

<ul class="project-list">
{% assign projects = site.projects | sort: 'order' %}
{% for project in projects %}
  <li>
    <article class="project-list__item">
      <a href="{{ project.url }}">

        <figure class="project__screenshot">
          <figcaption>
            <header>
              <h2 class="project-list__title">{{ project.title }}</h2>
              <div class="project-list__meta">
                <time class="project-list__year">{{ project.year }}</time> ·
                <span class="project-list__client">{{ project.client }}</span>
              </div>
            </header>
            <p>{{ project.teaser.text }}</p>
            <span class="project__link">More about this project</span>
          </figcaption>
          <img src="{{ project.teaser.image }}" alt="{{ project.teaser.alt }}" />
        </figure>
      </a>
    </article>
  </li>
{% endfor %}
</ul>

{% include footer.html %}
